@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.navbar-brand {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.aboutBtn {
    margin-right: .5rem;
  }

  .header-left-contents {
    display: flex;
    align-items: center;
  }

  .versionString {
    color: white;
    font-size:smaller;
    text-align: left;
  }